Package: openai
Provides: ai
Version: 0.4.0
Architecture: all
Depends: bash, debconf, findutils, curl, jq
Priority: optional
Maintainer: Philipp Lengauer <p.lengauer@gmail.com>
Homepage: https://github.com/plengauer/openai
Description: A commandline interface to the OpenAI API for text-based input and output
