name: Autorerun

on:
  schedule:
    - cron: '0 0 * * *' # TODO
  workflow_dispatch:

jobs:
  rerun:
    runs-on: ubuntu-latest
    steps:
      - uses: plengauer/autorerun@v0.16.0
        with:
          github_token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
